<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.merchandiseapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".type_of_wear"
            android:parentActivityName=".add_apparels">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".add_apparels"/>
        </activity>
        <activity
            android:name=".Displayproducts"
            android:parentActivityName=".type_of_wear">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".type_of_wear"/>
        </activity>

        <activity
            android:name=".productdetails"
            android:parentActivityName=".type_of_wear">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".type_of_wear"/>
        </activity>


        <activity android:name=".Signin" />
        <activity android:name=".Login" />
        <activity android:name=".user_landing_page" />
        <activity android:name=".merchant_landing_page" />
        <activity android:name=".add_apparels" />
    </application>

</manifest>